[submodule "api"]
	path = api
	url = https://github.com/Tekoljw/api.beingfi.com.git
[submodule "auto-app"]
	path = auto-app
	url = https://github.com/Tekoljw/auto-app.beingfi.com.git
[submodule "casher"]
	path = casher
	url = https://github.com/Tekoljw/casher.beingfi.com.git
[submodule "web"]
	path = web
	url = https://github.com/Tekoljw/web.beingfi.com.git
